<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <link href="https://global.oktacdn.com/okta-signin-widget/4.3.2/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>

  <button routerLink="/"> Home </button>
  <button *ngIf="!isAuthenticated" routerLink="/login"> Login </button>
  <button *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
  <button routerLink="/protected"> Protected </button>
  
</ion-content>
